<html>
  <head>
    <title>Create New Article</title>
  </head>
  <body>
    <h1>Create New Article</h1>
    
    <form method="post" action="/articles">
      <%= yield %>
    </form>
  </body>
</html>
